:root {
    --bg-color: #fcfcfc;
    --normal-color:  #000;
    --primary-color-bg: #B10DC9;
    --primary-color-bg-light: #B10DC9CC;
    --primary-color-txt-color: #fff;
    --good-color-bg: #3D9970;
}

@media (prefers-color-scheme: dark) {
    /* @todo couleur mode sombre */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--normal-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    margin-bottom: 2rem;
}
main {
    width: 95%;
    display: flex;
    min-height: 80vh;
    justify-content: space-around;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

article {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    perspective: 500px;
}
article .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

    transition: transform 1s;
    transform-style: preserve-3d;
}

article.display .content,
article.found .content {
    transform: rotateY(180deg);
    transition: transform .5s;
}

article.found .back {
    background-color: var(--good-color-bg);
}

.front,
.back {
    border-radius: 2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: .5rem;
    background: var(--primary-color-txt-color);
    color: #03446A;
    text-align: center;
    backface-visibility: hidden;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
}
.question .back {
    font-weight: bold;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
}
.back {
    background-color: var(--primary-color-bg);
    color: white;
    transform: rotateY(180deg);
}
.desc .back {
    font-size: 1.25rem;
}

@media screen and (min-width: 700px) {
    html {
        font-size: 16px;
    }
    section {
        grid-template-columns: repeat(4, 1fr);
    }
}