:root {
    --bg-color: #fcfcfc;
    --normal-color:  #000;
    --primary-color-bg: #B10DC9;
    --primary-color-bg-light: #B10DC9CC;
    --primary-color-bg-light-cursor: #B10DC955;
    --primary-color-txt-color: #fff;
    --good-color-bg: #3D9970;
    --middle-color-bg: #ffb83f;
    --wrong-color-bg: #F34A53;
    --link-color: #0074D9;
    --link-color-hover: #B10DC9;
}

@media (prefers-color-scheme: dark) {
    /* @todo couleur mode sombre */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    width: 95%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-evenly;
}
#name {
    font-variant: small-caps;
    border-bottom: solid 1px var(--normal-color);
    display: flex;
    justify-content: space-between;
}
a {
    color: var(--link-color);
    transition: color .5s;
}
a:hover {
    color: var(--link-color-hover);
}
#end-sentence {
    height: 18rem;
    width: 55%;
    
    color: var(--primary-color-txt-color);
    font-size: 1.75rem;
    text-align: center;

    background-color: var(--primary-color-bg-light);
    border-radius: 2rem;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
    text-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);

    position: absolute;
    top: calc(50vh - 9rem);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .5rem;

    transition: display 1s;
}
#cursor {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}
#cursor span {
    display: inline-block;
    width: calc(10% - 25px);
    height: .5rem;
    background-color: var(--primary-color-bg-light-cursor);
    border-radius: 2rem;
}
.answer-right {
    background-color: var(--good-color-bg) !important;
}
.answer-wrong {
    background-color: var(--wrong-color-bg)  !important;
}
h1 {
    text-align: center;
}
#alist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2.5rem;
    margin: 1.5rem 0;
    justify-items: center;
}
label,
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    min-height: 200px;
    min-width: 100%;
    max-width: 75%;
    cursor: pointer;
    background-color: var(--primary-color-txt-color);
    border-radius: 2rem;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 1s, background-color .5s, color .5s;
    display: flex;
    flex-direction: column;
    position: relative;
}
label:hover,
.link:hover {
    transform: scale(1.05);
}
body:not(.wait) label:has(input:checked) {
    background-color: var(--primary-color-bg);
    color: var(--primary-color-txt-color);
}
label.answer-right {
    animation: tilt-shaking 2s;
}
label.answer-wrong {
    animation: horizontal-shaking 2s;
}
label a {
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
label a:hover::after {
    content: 'Doc';
    position: absolute;
    font-size: .75rem;
    font-style: italic;
    color: var(--normal-color);
    top: 30px;
    left: 0px;
    width: 15rem;

}
.info {
    font-size: .85rem;
    font-weight: normal;
    margin: 1rem;
}
input[type="radio"] {
    display: none;
}
#buttons {
    display: flex;
    justify-content: flex-end;
}
button {
    border: none;
    background-color: var(--primary-color-bg-light);
    color: var(--primary-color-txt-color);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: transform 1s, color .5s, background-color .5s;
}
button:hover {
    background-color: var(--primary-color-bg);
    color: var(--primary-color-txt-color);
    transform: scale(1.05);
}
.hidden {
    display: none !important;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@media screen and (min-width: 450px) {
    label,
    .link {
        min-width: 400px;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }
    main {
        width: 90%;
    }
    #alist {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 1100px) {
    main {
        width: 950px;
    }
}

/* index */
.index ain {
    justify-content: center;
}
.index h1 {
    padding-bottom: 1rem;
    color: var(--normal-color);
    border-bottom: solid 3px var(--normal-color);
}
.index a.link {
    text-decoration: none;
    color: var(--primary-color-txt-color);
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;

    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 1rem center;
}
/* icones https://www.svgrepo.com/collection/calcite-sharp-line-icons */
.index .basics, .index .semantic {
    background-color: var(--good-color-bg) !important;
}
.index .table, .index .form {
    background-color: var(--middle-color-bg) !important;
    /*color: var(--normal-color) !important;*/
}
.index .mega, .index .attributes {
    background-color: var(--wrong-color-bg)  !important;
}
@media screen and (min-width: 400px) {
    .index .basics {
        background-image: url('./img/basics.svg');
    }
    .index .semantic {
        background-image: url('./img/semantic.svg');
    }
    .index .table {
        background-image: url('./img/table.svg');
    }
    .index .form {
        background-image: url('./img/form.svg');
    }
    .index .mega {
        background-image: url('./img/mega.svg');
    }
    .index .attributes {
        background-image: url('./img/attributes.svg');
    }
}