#slide > * {
    margin-left: 0;
}

.col + .col {
    margin-top: 0 !important;
}

pre {
    text-align: left;
    font-size: .8rem;
}

.overflow.visible {
    display: flex;
}

.overflow .col {
    max-height: 70vh;
    overflow: auto;
}
.overflow pre {
    padding: 0! important;
}

.hidden {
    display: none;
}

.info {
    position: absolute;
    margin: auto !important;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    background-color: #f3f3f3;
    border: solid 3px #000;
    width: 50%;
    padding: 1rem;
    font-weight: bold;
    margin-top: 0 !important;
}
.info.visible {
    display: inline-block;
}

.info.limites {
    border: solid 3px #f04141;
}

.extends {
    font-style: italic;
    color: #f04141;
    text-decoration: underline;
}

.no-private {
    color: #f04141;
    text-decoration: wavy underline;
}

code.keyword {
    color: #2929e9;
    font-size: 1.2rem;
    text-decoration: underline;
}