/*************************************************************/
/* Polices O'clock                                           */
/*************************************************************/
@font-face {
    font-family: "oclock";
    src: url("../fonts/oclock-regular.ttf");
}
@font-face {
    font-family: "oclock-bold";
    src: url("../fonts/oclock-bold.ttf");
}
/*************************************************************/
/* Couleurs                                                  */
/*************************************************************/
:root {
    --back-color: #0ac3a7;
    --darker-main-color: #09a087;
    --lighter-main-color: #12ccb0;
    --title-text: #fffdd8; 
    --main-text: #fffdd8;
    --link-text: #2a0a84;
    --dark-back:  rgb(37, 37, 37);
    --chest-darker: rgb(85, 59, 42);
    --chest-main: rgb(126, 91, 68);
    --chest-lighter: rgb(150, 108, 81);
}
/*************************************************************/
/* Styles                                                    */
/*************************************************************/

html {
    background-color: var(--back-color);
    color: var(--main-text);
    font-family: 'oclock', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    color: var(--title-text);
    font-family: 'oclock-bold', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin-top: 1rem;
}

ul, ol {
    margin-left: 1.8em;
}

code {
    font-size: .8rem;
}

summary {
    cursor: pointer;
}
details p {
    background-color: #fffdd8;
    border-radius: 5px;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    width: 60%;
}

input {
    background-color: #0ac3a7;
    border: none;
    border-bottom: solid 2px #1a4c79;
    color: #1a4c79;
    font-family: 'oclock', sans-serif;
    font-size: .8rem;
    font-weight: bold;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    width: 15rem;
}
button {
    background-color: #1a4c79;
    border: none;
    border-radius: 20px;
    color: #fffdd8;
    font-family: 'oclock', sans-serif;
    font-size: .8rem;
    font-weight: bold;
    padding: 10px 20px;
}

input:focus,
button:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#data-table {
    /*width: 85%;*/
    border-collapse: collapse;
    margin: 0 auto 1rem auto;
}

#data-table {
    border-top: solid 2px #1a4c79;
    border-bottom: solid 2px #1a4c79;
}

#data-table tr td {
    border-top: solid 2px #1a4c79;
}

#data-table td {
    min-width: 5rem;
}

.compare-first {
    background-color: #2768a2;
}
.compare-second {
    background-color: #2a0a84;
}

#algo {
    border: solid 1px var(--darker-main-color);
    background-color: var(--lighter-main-color);
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    height: 10rem;
    width: 25rem;
    margin: 1rem auto 0 auto;
    overflow-y: auto;
    display: none;
    text-align: left;
}
.show {
    display: block !important;
}
#algo p {
    margin: .25rem;
}

#code {
    border: solid 1px var(--darker-main-color);
    background-color: var(--lighter-main-color);
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    height: 10rem;
    width: 40rem;
    margin: 1rem auto 0 auto;
    overflow-y: auto;
    display: none;
    text-align: left;   
}

#code table {
    border-collapse: collapse;
    width: 100%;
}

.code-keyword {
    color: #cf222e;
}
.code-value {
    color: #0550ae;
}
.code-comment {
    color: #6e7781;
}
.code-function {
    color: #8250df;
}

#code .highlight {
    font-weight: bold;
    background-color: #c7c2c2;
}

#blocks {
    display: flex;
}

#show-code {
    float: right;
    background-color: #cf222e;
}
#show-code.actif {
    background-color: #1a4c79;
}