:root {
    --bg-color: #fcfcfc;
    --normal-color:  #000;
    --primary-color-bg: #B10DC9;
    --primary-color-bg-light: #B10DC9CC;
    --primary-color-txt-color: #fff;
    --good-color-bg: #3D9970;
    --wrong-color-bg: #F34A53;
    --code-bg-color: #000;
    --code-bg-color-alt: #222;
}

@media (prefers-color-scheme: dark) {
    /* @todo couleur mode sombre */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--normal-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}
header {
    width: 95%;
    margin-bottom: 3rem;
}
h1,
header h1 + p {
    text-align: center;
}

#name {
    font-variant: small-caps;
    border-bottom: solid 1px var(--normal-color);
    margin-bottom: 1.5rem;
}
main {
    width: 95%;
    max-height: 70vh;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
#elements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#elements,
#code {
    font-family: 'Courier New', Courier, monospace;
}
#code-container {
    color: var(--bg-color);
    background-color: var(--code-bg-color);
    padding: 0 3rem 1rem;
    overflow: auto;
}
h2 {
    margin: 1rem 0;
}
[draggable="true"] {
    cursor: grab;
}
#code {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}
#code li {
    padding: .5rem 1rem;
}
#code li:nth-child(odd) {
    background-color: var(--code-bg-color-alt);   
}
.code-place {
    display: inline-block;
    vertical-align: bottom;
    min-height: 2rem;
    min-width: 6rem;
    background-color: #fff;
    border-radius: 2rem;
}
#elements .code-item {
    margin: 1rem;
}
#elements .code-item:hover {
    transform: scale(1.2);
}
.code-item {
    background-color: var(--primary-color-bg-light);
    color: var(--primary-color-txt-color);
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
    transition: background-color .5s;
}
#elements .code-item:hover {
    background-color: var(--primary-color-bg);
}
.code-item.answer-right {
    box-shadow: none;
}
.code-spaces {
    display: inline;
}
.answer-right {
    background-color: var(--good-color-bg);
}
.answer-wrong {
    background-color: var(--wrong-color-bg);
}

pre {
    display: inline;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 16px;
    }
    main {
        grid-template-columns: 1fr 2fr;
        width: 90%;
    }

    #elements .code-item {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}
@media screen and (min-width: 1100px) {
    main {
        width: 85%;
    }
}
