/*************************************************************/
/* Code highlight                                            */
/*************************************************************/
pre code.hljs {
    padding: .5em;
}

code {
    font-size: .8em;
}

/*************************************************************/
/* Tree                                                      */
/*************************************************************/
.tree {
    background-color: #fff;
    padding: .5em;
    margin-top: 15px;
    margin-left: 15px !important;
}

.tree ul {
    list-style-type: none !important;
    margin: 0 !important;
}

.tree li {
    margin: .15em 0 !important;
}

.tree {
    --spacing: 1.5rem;
    --radius: 10px;
    --marker-bg-default: #ddd;
    --marker-bg-haschild: #6b9abb;
    line-height: 2rem;
}

.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    margin: .25em .25em .25em 0;
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing)) !important;
    padding-left: 0;
}

.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree summary {
    display: inline-block;
    cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}

.tree summary:focus {
    outline: none;
}

.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius) + 2px);
    left: calc(var(--spacing) - var(--radius) - 2px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: var(--marker-bg-default);
}

.tree ul.dom-attributes li::after {
    background: #457de4;
}

/*.tree summary::before {
    content: "+";
    z-index: 1;
    background: var(--marker-bg-haschild);
    color: #fff;
    line-height: calc(2 * var(--radius));
    text-align: center;
}*/

/*.tree details[open]>summary::before {
    content: "−";
}*/


.dom-document,
.dom-html,
.dom-element {
    border: solid 2px #000;
    border-radius: .25em;
    padding: 0 .75em;
    display: inline-block;
    font-family: monospace, sans-serif;
    font-size: .8em;
}

.dom-document {
    background-color: #F3D9EE;
}

.dom-html {
    background-color: #E6D6FE;
    /*text-transform: capitalize;*/
}

.dom-element {
    background-color: #B1CCFE;
    /*text-transform: capitalize;*/
}

.dom-attribute-name,
.dom-attribute {
    display: inline-block;
    font-family: monospace, sans-serif;
    font-size: .8em;
    font-style: italic;
    color: #457de4;
}

.dom-attribute-name {
    color: #043ba1;
}

.get-elements,
.get-elements .hljs-name {
    font-style: italic;
    font-weight: bold;
    color: #800;
}

.dom-element.get-elements {
    border-color: #800;
}

#dom-example {
    cursor: pointer;
}

ul.code-test {
    padding: .5em;
    /*margin-left: 0 !important;*/
    margin-bottom: 15px;
    background-color: #f3f3f3;
    list-style-type: none !important;
}

ul.code-test--cursor {
    cursor: pointer;
}

ul.code-test li {
    margin: 0 !important;
    padding: 0 0 .1em 0 !important;
}

ul.code-test pre,
ul.code-test pre code.hljs {
    display: inline-block;
    padding: 0;
}

ul.code-test input,
ul.code-test select {
    font-family: monospace, sans-serif;
    font-size: .8em;
    margin-bottom: .5em;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f3f3f3;
}

ul.code-test input:focus,
ul.code-test select:focus {
    outline: none !important;
    background-color: #fff;
}

.code-action {
    font-style: italic;
}
.code-action::before {
    content: "↦";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    vertical-align: text-top;
}